@import '../../config.css';

.container {
    flex-direction: column;
    background-color: var(--lightGold);
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: var(--mainFont);
}

.header {
    text-align: center;
    font-family: var(--handwritingFont);
    font-size: 3em;
}

.innerContainer {
    width: 100%;
    grid-column: 2/12;
    max-width: 600px;
    margin: 30px auto 80px auto;
}

.toast {
    font-family: var(--mainFont);
    font-size: var(--textSize);
}