html, body {
    margin: 0;
    padding: 0;
}

 #map {
        width: 100%;
        height: 400px;
        background-color: grey;
        
      }

/* font-family: 'Bellefair', serif; - TEXT
font-family: 'Great Vibes', cursive; - HANDWRITING
font-family: 'Zilla Slab', serif; - TEXT
*/ 