@import '../../../config.css';

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-height: 50px;
    z-index: 1;
    background-color: transparent;
    box-shadow: 0px 0px 3px #000000;
    font-family: var(--mainFont);
    font-weight: bold;
    color: var(--fontColor);
        background-image: inherit;
}

.fixed {
    position: fixed;
    background-color: white;
}

.absolute {
    position: absolute;

    filter: blur(5);
}


@media(max-width: 800px){
    .navbar p {
        display: none;
    }
    .navbar {
        display: none;
    }
}

p {
    display: inline-block;
}

.navbar p {
    padding-right: 40px;
    cursor: pointer;
} 


.display {
    display: none;
}