@import '../../../config.css';

.navbar {
    width: 95%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-height: 50px;
    z-index: 1;
    font-family: var(--mainFont);
    font-weight: bold;
    color: var(--fontColor);
}

.navItem {
    display: inline-block;
    cursor: pointer;
    padding: 14px;
    margin: auto;
}

.navbar.fixed .navItem:hover {
    background-color: lightgray;
}

.navbar.absolute .navItem:hover {
    background-color: hsla(200, 0%, 50%, 0.5);
}

.navbar.fixed {
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 3px #000000;
}

.navbar.absolute {
    transition: background-color 1s;
    position: absolute;
}


@media(max-width: 1026px){
    .navbar {
        display: none;
    }
}