@import '../../config.css'; 

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto auto auto 60vh auto auto auto;
    background-color: var(--offWhite);
    width: 100%;
    height: 100%;
}

.map {
    background-color: var(--offWhite);
    color: var(--gold);
    font-weight: bold;
    font-size: 1.5em;
    grid-column: 1 / 13;
    height: 100%;
}


::selection {
    background-color: var(--buttonColor)
}