.colors {
    --gold: #d4c4af;
    --off-white: #EDECE8;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 100vh auto 60vh 60vh 30vh;
    background-color: var(--off-white);
}

.section100 {
    background-color: var(--off-white);
    color: var(--gold);
    font-weight: bold;
    font-size: 1.5em;
    grid-column: 1 / 13;
    height: 100%;
}

.section70 {
    background-color: var(--off-white);
    color: var(--gold);
    font-weight: bold;
    font-size: 1.5em;
    grid-column: 2 / 12;
    height: 70%;
    align-self: center;
}
