@import '../../config.css'; 

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 100vh auto 60vh 60vh 30vh;
    background-color: var(--offWhite);
}

.section100 {
    background-color: var(--offWhite);
    color: var(--gold);
    font-weight: bold;
    font-size: 1.5em;
    grid-column: 1 / 13;
    height: 100%;
}

.section70 {
    background-color: var(--lightGold);
    color: var(--goldFont);
    font-weight: bold;
    font-size: 1.5em;
    grid-column: 2 / 12;
    height: 70%;
    align-self: center;
}
