@import '../../config.css';

.loginPane {
    position: fixed;
    height: 100vh;
    bottom: 0px;
    z-index: 4;
    width: 100%;
    background-image: url('../header/images/img7.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60% 50%;
    background-size: cover;
}



.loginPane::before {
    content: '';
    background: inherit; 
    position: absolute;
    left: -2px;
    right: 0px;
    top: -2px; 
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(5px);
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--handwritingFont);
    text-align: center;
    width: 100%;
}

.pass1, .pass2 {
    width: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
    outline: none;
    border-radius: 0px;
}

.underline {
    background-color: purple;
    width: 80px;
    height: 2px;
    display: inline-block;
    position: relative;
}

.dash {
    display: inline;
    padding: 10px;
}

.prompt {
    font-size: 35px;
}

#loginBtn {    
    display: block;
    margin: auto;
    font-size: 0.8em;
}

 @media(min-width: 800px){
    .pass1, .pass2 {
        width: 200px;
    }
} 

