
@import '../../config.css'; 
.header {
    grid-column: 1/14;
    height: 100vh;
    background-image:  url('./images/img9.png');
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:1rem; 
    position: relative;
}

.title {
    font-family: var(--handwritingFont);
    font-size: var(--headingSize);
    color: black ; 
    opacity: 0.7;

    margin: 90px 0px 0px 0px;
    text-align: center;
};



.date {
    font-family: var(--mainFont);
    font-size: var(--textSize);
    color: black ; 
    margin: 0px;
    text-align: center;
}

.bird {
    background-image:  url('./images/dove.png');
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

@media (min-width: 768px) {
    .bird {
        width: 50px;
        height: 50px;
    }
}


.enterDiv {
    font-family: var(--mainFont);
    font-size: var(--textSize);
    color: black ; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: lighter;
}

.enter:hover {
    cursor: pointer;
}

.enter {
    margin-bottom: 1%;
}

@media (min-width: 500px) {
    .enterDiv {
        font-size: var(--textSizw);
    }

    .date {
        font-size: var(--textSize);
    }

    .title {
        margin: 30px 0px 0px 0px;
    }
}

@media (min-width: 768px) {
    .enterDiv {
        font-size: var(--subSubHeadingSize);
    }

    .date {
        font-size: var(--subSubHeadingSize);
    }

}

