@import '../../config.css'; 

.setArea {
    grid-column: 1/13;
    background-image:  url('./images/floral1.png');
    background-Size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    text-align: center;  

}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.innerinner {
    font-family: var(--handwritingFont);  
 
    text-align: center;  
    display: flex;
    flex-direction: flex-row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

p {
    width: 100%;
    margin: 0 auto;
}