@import '../../config.css'; 

.setArea {
    grid-column: 1/13;
    background-image:  url('./images/floral1.png');
    background-Size: cover;
    background-attachment:scroll;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;  

}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.innerinner {
    font-family: var(--mainFont);  
    text-align: center;  
    display: flex;
    flex-direction: flex-row;
    flex-wrap: wrap;
    justify-content: center;  
    background-color: white; 
    width: 80%; 
    height: auto;
}

p {
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
}