:root {
    --handwritingFont:  'great Vibes', 'cursive';
    --mainFont: 'Crimson Text', 'serif';
    --buttonColor:  #ADCCC2;
    --lightBlue: #E5EAE8;
    --grey: #EEEEEE;
    --lightGold: #EDECE8;
    --goldFont: #D4C4AF;
    --offWhite: #F7F7F7;
    --fontColor: hsla(0, 0%, 0%, .7);
    --headingSize: 3rem;
    --subHeadingSize: 2rem;
    --subSubHeadingSize: 1.4rem;
    --textSize: 1.1rem;
    --mini: 0.8rem;

}